<!-- <tr>
  <td scope="row"><%= image_tag "cat.jpg", size: "30x30" %></td>
  <td>Username</td>
  <td>2015-05-22</td>
  <td class="text-right">
    <a href="" data-toggle="tooltip" data-placement="top" title="Get Email"><i class="fa fa fa-envelope"></i></a>
    <a href="" data-toggle="tooltip" data-placement="top" title="Unmatch"><i class="fa fa-times"></i></a>
  </td>
</tr> -->

<tr>
	<td scope="row"><%= image_tag("#{match.avatar(:thumb)}", size: "30x30") %></td>
	<td><%= link_to match.name, profile_user_path(match.id) %></td>
	<td><%= match.updated_at.strftime('%m/%d/%Y') %></td>
	<td class="text-right">
		<%= link_to matches_get_email_path(id: "#{match.id}"), :data => {toogle: "tooltip", placement: "top"}, title: "Get email", remote: :true do %>
			<i class="fa fa fa-envelope"></i>
		<% end %>
		<%= link_to destroy_friendships_path(friend_id: match.id), :data => {toggle: "tooltip", placement: "top", confirm: "Are you sure you want to unmatch with #{match.name}?" }, title: "Unmatch", id: "delete_friendship", method: :delete  do %>
			<i class="fa fa-times"></i>
		<% end %>
	</td>
</tr>
