<!DOCTYPE html>
<html>
  <head>
    <title>Datematch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
  </head>

  <body>
    <% if current_user %>
      <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
        <ul class"nav navmenu-nav" id="navmenu">
          <li class="<%= if params[:action] == "index" then "active" end %> nav-btn">
              <%= link_to root_path do %> <i class="fa fa-users"></i> Discover <%end%>
          </li>
          <li class="<%= if params[:action]== "matches" then "active" end %> nav-btn">
            <%= link_to matches_user_path(current_user) do %><i class="fa fa-heart"></i> Matches <% end %>
          </li>
          <li class="<%= if params[:action] == "edit" then "active" end %> nav-btn">
            <%= link_to edit_user_path(current_user) do %><i class="fa fa-cog"></i> Settings <%end%>
          </li>
          <li><%= link_to '/sign_out', method: :delete do %><i class="fa fa-cog"></i>Log out<%end%></li>
        </ul>
      </nav>
      <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="navbar navbar-default navbar-fixed-top">

        <button type="button" class="navbar-toggle button-nav" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
          <i class="fa fa-cog"></i>
        </button>

        <button type="button" class="navbar-toggle pull-right button-nav">
          <%= link_to matches_user_path(current_user) do %><i class="fa fa-heart"></i><%end%>
        </button>
      </div>
    <%else%>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo_white.png", alt: "Tinstuk Logo", class: "logo-brand" %>
      <%end%>
    <%end%>

    <div class="container" style="margin-top:100px">
      <%= yield %>
    </div>


    <script type="text/javascript">
      $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });

    $(".spinner").hide();

    $('.actions .like, .actions .dislike').click(function(e){
      e.preventDefault();
      $("#tinderslide").jTinder($(this).attr('class'));
    });

    // $("#tinderslide > ul li").tsort({attr:"id"});

    $("#tinderslide").jTinder({
        onDislike: function (item) {
            // alert('Dislike image ' + (item.index()+1));
        },
        onLike: function (item) {
            // alert('Like image ' + (item.index()+1));
            var myId = $("#tinderslide > ul li").last().attr("id");
            $("#user_" + myId)[0].click();
        },
        animationRevertSpeed: 200,
        animationSpeed: 400,
        threshold: 1,
        likeSelector: '.like',
        dislikeSelector: '.dislike'
    });
    $(".nav-btn").hover(function(){
      $(this).addClass("active2");
    }, function(){
      $(this).removeClass("active2");
    });
    </script>

  </body>
</html>
